<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Average Data</title>
</head>
<body>
    <table style="border-spacing: 10px;">
        <thead>
            <tr>
                <th>Total Students</th>
                <th>Average Height (cm)</th>
                <th>Average Weight (kg)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ people }}</td>
                <td>{{ height }}</td>
                <td>{{ weight }}</td>
            </tr>
        </tbody>
    </table>
</body>
</html>